.switch::before {
  content: var(--text);
  position: relative;
  right: 150%;
  display: inline;
  height: 1.4em;
  line-height: 1.4em;
  font-family: 'VT323', monospace, serif;
  letter-spacing: 0.05em;
  color: white;
}

.switch {
  --text: 'Hello:';
  position: relative;
  display: block;
  width: 2.6em;
  height: 1.4em;
  font-size: 1.44rem;
  margin: 0.8em 1.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.1em;
  width: 1.1em;
  left: 0.2em;
  bottom: 0.16em;
  background-color: white;
  -webkit-transition: .4s;
  transition: 0.25s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.12em);
  -ms-transform: translateX(1.12em);
  transform: translateX(1.12em);
}

#slider-label {
  font-family: 'VT323', monospace, serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: white;
}
